*{
    padding: 0;
    margin: 0;
}

:root{
    --font:'Montserrat';
    --azul-bp: #19256b;
    --texto-alt: #888787;
    --verde: #236b19;
    --marrom: #6b4b19;
    --cinza-fundo: #f0f0f0;
    --branco: #ffffff;
}


body{
    font-family: var(--font);
    font-weight: 400;
   
}




.cabeca{
    height: 25px;
    background-color: var(--verde);
    font-weight: 700;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container_cabecalho{
    background-color: var(--azul-bp);
    
}

.container-info-cabecalho{
    width: 90%;
    max-width: 980px;
    margin: auto;
    display: grid;
    grid-template-rows: 30% 20% 50%;
}


.cabecalho-1{
    grid-row-start: 1;
    height: 15vh;
    display: flex;
    justify-content: space-between;
 
}

.cabecalho-2{
   
    height: 8vh;
   
}

.cabecalho-3{
   
    height: 27vh;
      
}

.imagem-cabecalho{
    width: 20vh;
    align-self: center;
   
}


.texto-atendimento{
    color: var(--branco);
    font-size: 27px;
    font-weight: bolder;
    grid-column-start: 3;
    align-self: center;
    justify-self: end;

}

.texto-cliente{
    color: var(--branco);
    font-weight: bolder;
    grid-column-start: 2;
    font-size: 26px;
    align-self: center;
    
}

.informativo{
    color: var(--branco);
    font-weight: lighter;
    grid-column-start: 2;
    margin-top: 1em;
}

/*_________________________________*/



.campo_formulario{
   
    width: 90%;
    max-width: 980px;
    margin: auto;
  }

.container_formulario{
    width: 100%;
    max-width: 980px;
    height: 1080px;
    margin: 4em auto;
    background: #ffffff;
    margin-top: -5rem;
    border-radius: 30px;
    -webkit-box-shadow: 0px 2px 10px 0px rgba(50, 50, 50, 0.62);
    -moz-box-shadow: 0px 2px 10px 0px rgba(50, 50, 50, 0.62);
    box-shadow: 0px 2px 10px 0px rgba(50, 50, 50, 0.62);

    
}

.container_formulario *{
    box-sizing: border-box;
    width: auto;

}


.formulario{
    display: flex;
    padding: 1.5em 2em;
    padding-left: 3em;
    margin: auto;

}

.input-bl-un{
    display: inline-flex;
   
}

.cabecalho_formulario{
    font-size: 33px;
    padding: 1em 0 0 1.5em;
    font-weight: bolder;
    margin: auto;
   
}


.input-campo{
    border: none;
    padding: 0 2em;
    height: 2.5em;
    border-radius: 15px;
    -webkit-box-shadow: 0px 1px 10px 0px rgba(40, 40, 40, 0.30);
    -moz-box-shadow:    0px 1px 10px 0px rgba(40, 40, 40, 0.30);
    box-shadow:         0px 1px 10px 0px rgba(40, 40, 40, 0.30);
    width: auto;
}


.input-campo:hover{
    border: none;
}


.container_nome, .container_telefone, .container_unidade, .container_empreendimento {
    margin-left: 2rem;
  
}

.input-nome{
    width: 30em;
}

.input-email{
    width: 23em;
}
.input-bloco, .input-unidade{
    width: 7em;
    text-align: center;
}

.input-empreendimento{
    width: 20em;
}

.container_cpf, .container_nome{
    margin-top: 1.5em;
}

.texto-contato{
    margin: 1.5em 0 0 3em;
    color: #5e5e5e;
    font-weight: 600;

}

.texto-input{
    font-size: 14px;
    font-weight: 800;
    margin: 0 0 0.5em 0.4em;
    width: auto;

}

.container_opcoes{
    display: flex;

}

.container_suspenso{
    margin: 2em 0 0 3em;
}

.caixa-suspensa{
    font-weight: bolder;
    margin: 0.8em 0;
}

.caixa-itens{
    border: none;
    border-radius: 8px;
    -webkit-box-shadow: 0px 1px 6px 0px rgba(50, 50, 50, 0.62);
    -moz-box-shadow:    0px 1px 6px 0px rgba(50, 50, 50, 0.62);
    box-shadow:         0px 1px 6px 0px rgba(50, 50, 50, 0.62);
    width: auto;
    
}

.caixa-itens:hover{
    transform: scale(1.1);
}

.input-contato{
    margin: 2em 0 0 3em;
   width: auto;
}

option{
    text-align: center;
}

legend{
    font-weight: bolder;
}

.item-contato{
    display: block;
    margin: 0.5em;
}

.texto-area{
    margin: 3em 0 0 3em;

    border-radius: 15px;
}


.nome-area{
     font-weight: bolder;
}

.input-texto{
    border: none;    
    display: block;
	margin: 0.6em 0 20px;
	padding: 10px 20px;
	width: 75%;
    max-width: 980px;
    border-radius: 13px;
    -webkit-box-shadow: 0px 1px 6px 0px rgba(50, 50, 50, 0.62);
    -moz-box-shadow:    0px 1px 6px 0px rgba(50, 50, 50, 0.62);
    box-shadow:         0px 1px 6px 0px rgba(50, 50, 50, 0.62);
    
}


.container_categoria{
    display: block;
    width: auto;
}

.container_botao{
    display: flex;
    justify-content: center;
    width: auto;
}

.input-botao:hover{
    background-color: var(--verde);
    transform: scale(1.05);
    font-weight: bold;
    transition: 0.5s all;
}

.input-botao{

    width: 12em;
    height: 3em;
    margin-top: 3em;
    background-color: #122cc0;
    color: var(--branco);
    border: none;
}







/*---------------------- RODA PÉ ---------------------*/
.container_rodape{
    background-color: var(--verde);
    height: 5rem;
  }


.cabecalho_rodape{
    color: var(--cinza-fundo);
    text-align: center;
    padding-top: 1em;
    
  }
  
  .texto_rodape{
    color: var(--cinza-fundo);
    text-align: center;
    margin: 1em;
  }
  





/* responsividade dos breakingpoints(resolução)*/

@media (max-width: 844px){
  body{
    width: 100%;
    margin: auto;
  }

  .container_formulario{
    height: 1230px;
  }

  .container_cabecalho{
    height: 40vh;
  }

  .container-info-cabecalho{
    grid-template-rows: 25% 13% 62% ;
    

  }
  .cabecalho-1{
    display: flex;

  }

  .cabecalho-2{
   display: flex;

}

.cabecalho-3{
    display: flex;

}

.imagem-cabecalho{
    width: 14vh;
}

.texto-atendimento{
    font-size: 2vh;
}

.texto-cliente{
    font-size: 2vh;
    align-self: center;
}

.informativo{
    font-size: 2vh;
}

/*↓↓↓↓↓↓↓↓↓↓↓↓↓↓___FORMULÁRIO___↓↓↓↓↓↓↓↓↓↓↓↓↓*/

.cabecalho_formulario{
   font-size: 28px;
    padding: 1em 1em;
   text-align: center;
}

.formulario{
    flex-direction: column;
    padding: 0 0.4em;

}


.input-cpf{
    width: 100%;

}

.container_cpf{
    margin: 1em;

}

.container_nome{
    margin: 0.5em 0 0 1em;

}

.input-nome{
    width: 95%;
    padding: 0;
}

.texto-contato{
    margin: 2em 0 0 1.8em;
    font-size: 0.8rem;

}

.container_email{
    margin: 1.5em 0 0 1em;   
}

.input-email{
    width: 95%;
}

.container_telefone{
    margin: 1.5em 0 0 1em;
}

.input-telefone{
    width: 95%;
}

.input-bl-un{
    justify-content: center;
    margin: 1.5em;
}

.container_empreendimento {
    margin: 1em 0 0 1em;

}

.input-empreendimento{
    width: 95%;
}

.container_suspenso{
    margin: 1.5em 0 0 1.5em;
}

.texto-area{
    margin: 2em 0 0 1.5em; 
}

.input-texto{
    width: 95%;
}

.input-botao:hover{
    background-color: var(--verde);
    transform: scale(1.05);
    font-weight: bold;
    transition: 0.5s all;
}





}


/*-webkit-box-shadow: 0px 2px 10px 0px rgba(50, 50, 50, 0.62);
    -moz-box-shadow:    0px 2px 10px 0px rgba(50, 50, 50, 0.62);
    box-shadow:         0px 2px 10px 0px rgba(50, 50, 50, 0.62);*/
